body {
    font-family: 'Montserrat', sans-serif;
}

#navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
}

#waffle {
    height: 20px;
}

#profile {
    border-radius: 50%;
}

#navlist a {
    padding: 10px;
}

#navlist a:link, a:visited, a:active {
    text-decoration: none;
    color:black;
}

#navlist a:hover {
    text-decoration: underline;
}

#profile:hover {
    box-shadow: 0px 0px 0px 4px hsl(0, 0%, 95%);
}

#waffle:hover {
    border-radius: 25%;
    filter: drop-shadow(3px 3px 1px hsl(0, 0%, 95%));
    box-shadow:
     0px 0px 4px 3px hsl(0, 0%, 95%),
     -5px -1px 4px 3px hsl(0, 0%, 95%),
     0px -5px 4px 3px hsl(0, 0%, 95%),
     -1px 0px 4px 3px hsl(0, 0%, 95%);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

#searchform {
    margin: 25px 0px;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bar input {
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    padding-left: 43px;
    height: 46px;
    width: 100%;
}

#bar input:hover, #bar input:focus-visible {
    box-shadow: 0px 2px 3px 2px hsl(0, 0%, 90%),
    0px -1px 3px 1px hsl(0, 0%, 95%);
    border: 1px solid white;
    outline: none;
}

#bar:focus-visible {
    outline: none;
}

#bar {
    position: relative;
    width: 100%;
}

#bar i {
    position: absolute;
}

.icon {
    padding: 10px;
    width: 40px;
}

#searchicon {
    left: 15px;
    top: 15px;
    color: #cccfd2;
}

#keyboardicon {
    right: 20px;
    top: 15px;
    color: #7b7b7b;
}

.searchbutton {
    width: auto;
    padding: 10px 17px;
    margin: 30px 6px;
    color: #3c4043;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #f8f9fa;
}

.searchbutton:hover {
    box-shadow: 0px 0px 0px 1px #cccfd2;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

#footer p {
    margin-left: 30px;
    font-size: 14;
    color: #6f6f99;
}

#bottomline {
    border-top: 1px solid #dadce0;
    margin: 0;
}

#footerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13;
    text-decoration: none;
    margin: 0px 20px;
}

.footerlinks a {
    padding: 15px;
    text-decoration: inherit;
    color: #6f6f99;
}

.footerlinks a:hover {
    text-decoration: underline;
}

#linksleft {
    order: 0;
    display: flex;
    justify-content: space-between;
}

#linkmid {
    order: 1;
}

#linkmid img {
    height: 13px;
    margin-right: 5px;
}

#linksright {
    order: 2;
    display: flex;
}

@media screen and (max-height: 850px) and (min-height: 650px) {
    #maincontent {
        margin-bottom: 200px;
        margin-top: auto;
        width: 100%;
        position: absolute;
        bottom: 94;
    }
}